KEYCLOAK_USER=keycloak-user
KEYCLOAK_PASSWORD=keycloak-password
POSTGRES_DATABASE=postgres-db
POSTGRES_USER=postgres-user
POSTGRES_PASSWORD=postgres-password

POSTGRES_PORT_5432_TCP_ADDR=authorization_server_db
POSTGRES_PORT_5432_TCP_PORT=5432

POSTGRES_DB=postgres-db
POSTGRES_ROOT_PASSWORD=postgres-root-password
