KEYCLOAK_USER=keycloak
KEYCLOAK_PASSWORD=password
POSTGRES_DATABASE=postgres-db
POSTGRES_USER=postgres-user
POSTGRES_PASSWORD=postgres-password

POSTGRES_DB=postgres-db
POSTGRES_ROOT_PASSWORD=postgres-root-password
